# Node.js
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# TypeScript
*.tsbuildinfo

# Output & build artifacts
build/
android/app/build/
ios/build/

# Environment files
.env
.env.*.local
.env.local

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Metro
.metro-health-check*

# Android/Java/Kotlin
*.jks
*.keystore
*.orig.*
.gradle/
*.apk
*.ap_
*.dex
*.class

# iOS
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.mobileprovision
*.p8
*.p12
*.key

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Misc
*.log
*.pem
*.tmp

# Ignore example or test apps
app-example/
example/
__tests__/

# Coverage
coverage/
*.lcov
